.ewsxaqw{
    margin-top: 20px;
    padding-top: 75px;
    padding-bottom: 100px;
    background-image: url(./1.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
    h2{
        font-size: 38px;
        color: #AB3550;
        margin-bottom: 20px;
    }
    p{
        font-size: 17px;
        margin-bottom: 50px;
        color: #555;
    }
    a{
        svg{
            margin-right: 10px;

        }
        text-decoration: none;
        font-size: 17px;
        color: #541726 !important;
    }
}