.jfnj{
    .container{
        .row{
            margin: 4% 0;
            .jg{
                .div{
                    padding: 8% 0% 8% 8%;
                    img{
                        width: 100%;
                        border-radius:10px ;
                    }
                    @media (max-width:992px) {
                        padding: 0;
                    }
                }
                @media (max-width:992px) {
                    width: 100%;
                    flex: none;
                }
            }
            .k{
                margin: 110px 0;
                padding-right:8% ;
                @media (max-width:1500px) {
                    margin:  70px 0;
                    padding-right:0 ;
                }
                h2{
                    margin-bottom: 30px;
                    font-size: 39px;
                    color: #541726;
                    @media (max-width:1200px) {
                        margin-bottom: 20px;
                        font-size: 30px;
                    }
                }
                p{
                    font-size:17px ;
                    margin-bottom: 50px;
                    @media (max-width:1200px) {
                        margin-bottom: 40px;
                        font-size: 15px;
                    }
                }               
                a{
                    margin-right: 20px;
                    padding: 6px 34px;
                    text-decoration: none;
                    padding-bottom:9px ;
                    transition: 0.4s;
                    font-weight: bold;
                    &:hover{
                        border:3px solid #AB3550 ;
                        background-color: #fff;
                        color: #AB3550;
                    }
                }
                .y{
                    border:3px solid #AB3550 ;
                    background-color: #AB3550;
                    color: #fff;
                }
                @media (max-width:992px) {
                    margin:  0;
                    padding-right:0 ;
                    width: 100%;
                    flex: none;
                }
            }
        }
    }
}