.q22211 {
  margin: 80px 0;
}
.q22211 h2 {
  text-align: center;
  margin-bottom: 90px;
  font-size: 38px;
  color: hwb(347 7% 74%);
}
.q22211 .row .w {
  padding-left: 20px;
  margin-bottom: 20px;
}
.q22211 .row .w h5 span {
  color: #AB3550;
  font-size: 30px;
}
.q22211 .row .w p {
  font-size: 19px;
  color: #888;
}